<article class='panel panel-default'>
	<header class='panel-heading'>
		<h3 class='panel-title'>Map of <%= @post.location %></h3>
	</header>

	<section class='panel-body'>
		<figure id='map'></figure>
	</section>
</article>

<%= javascript_tag do %>
  window.postLocation = '<%= j @post.location %>';
  window.postTitle = '<%= j @post.title %>';
  window.pictureUrl = '<%= j @post.picture.url(:medium) %>';
<% end %>