<section class='panel panel-default'>
	<figure id='modal-map'></figure>
	<div class='new-post-container'>
		<%= form_for @new_post, html: { multipart: true } do |f| %>
			<%= f.text_field :title, placeholder: 'Title' %><br />
			<%= f.label :picture %>
			<%= f.file_field :picture %>
			<%= f.text_field :tag_list, placeholder: 'Tags' %><br />
			<%= f.text_field :location, placeholder: 'Location' %>
			<%= link_to 'Find', '#', id: 'find-location-btn', class: 'btn btn-default' %><br />
			<%= f.submit 'Post', class: 'btn btn-success' %>
		<% end %>
	</div>
</section>
