<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>InstaBAAM!</title>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  	<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  	<%= csrf_meta_tags %>
  </head>

  <body>

    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href='/'>InstaBAAM! World Class KOs</a>
        </div>
        <div class="navbar-collapse collapse">
        	<%= render partial: 'layouts/nav_bar' %>
        </div><!--/.navbar-collapse -->
      </div>
    </div>
    <header>
    	<%= render partial: 'layouts/flash' %>
    </header>
    <main class='container'>
    	<%= yield %>
    </main>
  </body>
</html>







<!-- 
-----------------

<body>
<header>
	<h1 class='header-logo'>InstaBAAM! Photos with a baam...</h1>
	<% if current_user %>
		<h2 class='header-welcome'> Welcome <%= current_user.email %></h2>
	<% end %>
	<%= render partial: 'layouts/nav_bar' %>
	<%= render partial: 'layouts/flash' %>
</header>
<%= yield %>

</body>
</html> -->
