<!DOCTYPE html>
<html>
<head>
  <title>InstaBAAM!</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta charset='utf8'>
</head>
<body>
<header>
	<h1 class='header-logo'>InstaBAAM! Photos with a baam...</h1>
	<% if current_user %>
		<h2 class='header-welcome'> Welcome <%= current_user.email %></h2>
	<% end %>
	<%= render partial: 'layouts/nav_bar' %>
	<%= render partial: 'layouts/flash' %>
</header>
<%= yield %>

</body>
</html>
